.App {
  min-height: 100vh;
  /* background: #282c34 url("assets/images/app_background.jpg") no-repeat center; */
  background: linear-gradient(rgba(18, 33, 45, 0.85), rgba(18, 33, 45, 0.85)), url("assets/images/app_background.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  color: white;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 8vmin;
  margin: 20px;
  align-self: flex-start;
  /* pointer-events: none; */
}

.App-login-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 11vmin;
  margin: 130px 0 50px;
  align-self: center;
  /* pointer-events: none; */
}

.App-header {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.header-logout {
  flex-direction: row;
  justify-content: space-between;
}

.App-section {
  display: flex;
  /* flex: 1; */
  justify-content: center;
  align-content: space-between;
}

.App-section-authenticated {
  background-color: white;
  color: black;
  flex-direction: column;
  padding: 20px;
}

.App-aside {
  display: flex;
  flex-direction: row;
  /* backgroundColor: 'red', */
  flex: 1;
  justify-content: flex-start;
}

.App-form {
  display: flex;
  flex-direction: column;
  width: 70vmin;
  min-width: 50vmin;
}

.App-link {
  color: #61dafb;
}

.App-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  align-self: center;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid orange;
  margin: 30px 0;
  padding: 10px;
  min-width: 100px;
  cursor: pointer;
  color: inherit;
}

.form-errors-div {
  display: flex;
  flex-direction: column;
  color: red;
  /* flex: 1; */
  margin: 20px 0;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.App-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
  border-bottom: 1px white solid;
}

.input-style {
  padding: 10px 20px;
  outline: none;

  /* padding: '0 10px', */
  color: white;
  font-family: Arial;
  font-size: 13.33px;
  border: 1px solid transparent;
  border-radius: 5px;
  width: 100%;
}

.subscription-selected {
  display: flex;
  flex-direction: column;
}

.subscription-selected-banner {
  background-color: #cbd7e2;
  color: #3e3844;
  text-align: center;
  padding: 3vmin;
  display: flex;
  flex-direction: column;

  animation-duration: 1s;
  animation-name: slidein;
}

.cost-selected {
  font-size: 8vmin;
  background-color: cornflowerblue;
  height: 15vmin;
  width: 15vmin;
  align-self: center;
  border-radius: 10vmin;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0 5px 5px 7px;
}
.description-selected {
  align-self: center;
  text-align: center;
  width: 60vmin;
  margin: 2vmin;
}

.flex1 {
  flex: 1;
}

.input-style:focus {
  border: 1px solid #2683FF;
  border-radius: 5px;
}

.input-orange {
  color: orange;
}

.subscription-type-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 30px;
}

.subscription-period-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}

.payment-div {
  display: flex;
  flex-direction: column;
  margin: 30px;
  justify-content: center;
}

.payment-result {
  /* position: absolute;
  top: 0;
  left: auto; */
  /* background-color: #d2e0f7ab; */
  /* height: 100%;
  width: 100vmin; */
  text-align: center;
  /* color: #FFF; rgb(16, 60, 95); */
}

.payment-result-img {
  /* height: 50%; */
  /* background-color: blue; */
  margin: 40px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 50px;
}

.social-icon {
    margin: 0 20px;
}

.payment-OK-img {
  /* background-color: red; */
  height: 50vmin;
  animation-duration: 0.5s;
  animation-name: slidein;
}

.to-big-green {
  color: #00d256;
  animation-duration: 0.5s;
  animation-name: toBig;
}

.to-big-red {
  color: #ff2727;
  animation-duration: 0.5s;
  animation-name: toBig;
}

.payment-card {
  width: 100%;
  /* height: 37vmin; */
  /* margin: 5vmin; */
  box-shadow: 0px 0px 20px aliceblue;
  border-radius: 2vmin;
}

.payment-data {
  margin: 5vmin;
  /* display: flex;
  flex-direction: column; */
}

.payment-input {
  padding: 10px;
  margin: 5px 0;
  background: rgba(115, 115, 125, 0.90);
  border-radius: 5px;
}

.input-width-90 {
  width: 90%;
}

.input-width-70 {
  width: 169px;
  height: 25%;
}

.payment-input::placeholder {
  color: #b9c0c3;
}

.terms-div {
  margin: 0 40px;
}

.terms-div p {
  text-align: justify;
}

.title {
  text-align: center;
  font-size: x-large;
  margin: 0 0 20px 0;
}

.profile-input {
  padding: 10px;
  margin: 5px 0;
  background: rgba(115, 115, 125, 0.90);
  border-radius: 5px;
  width: 180px;
}

.profile-select {
  padding: 0;
  width: 202px;
}

.item {
  display: flex;
  border: solid white 1px;
  background-image: linear-gradient(rgba(18, 33, 45, 0.85), rgba(18, 33, 45, 0.85));
  /* height: 30px; */
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  text-decoration: unset;
  font-size: unset;
}

.item:focus {
  outline: 0;
}

.item:hover {
  background-image: linear-gradient(rgba(51, 104, 148, 0.66), rgba(241, 249, 255, 0.85));
  color: black;
}

.quest {
  border: 1px solid grey;
  color: black;
  width: 169px;
}

.select-quest {
  border-radius: 5px;
  width: 209px;
}

.home-div {
  display: flex;
  flex-direction: column;
  /* margin: 0 40px; */
  flex: 1;
  /* padding: 0 0 0 10px; */
  min-width: 100%;
}

.buttons-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px 0 0;
}

/* .App-header, */
.buttons-menu .App-button {
  min-width: 5vmin;
  margin: 0 0 0 15px;
  padding: 10px 20px;
  flex: 0 0;
}

.iva-new-button {
  margin: 0;
  padding: 5px;
  min-width: 100px;
  background-color: rgba(18, 33, 45, 0.85);
  border-color: white;
  color: white;
  font-size: 18px;
}

.iva-new-button:hover {
  background-image: linear-gradient(rgba(51, 104, 148, 0.66), rgba(241, 249, 255, 0.85));
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px 0;
  /* background-color: red; */
}

.iva-div {
  display: flex;
  flex-direction: column;
}

.iva-resume-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.iva-resume-item-pay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
  font-weight: 500;
}

.iva-resume-item-value {
  padding-left: 20px;
}

.iva-list {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.iva-list-table {
  display: flex;
  flex-direction: row;
  font-weight: 400;
}

.table-title {
  margin: 15px 0 0;
  font-weight: 700;
  font-size: 20px;
}

.table-title-new {
  margin: 10px 0;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.iva-title {
  padding: 10px;
  margin-top: 10px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  border-top: 1px dotted orange;
  border-bottom: 1px dotted orange;
  border-left: 1px dotted orange;
}

.last-cell {
  border-right: 1px dotted orange;
}

.iva-answer {
  /* padding: 10px; */
  flex-direction: column;
}

.iva-answer-cell {
  padding: 0 10px;
  white-space: nowrap;
  border-bottom: 1px dotted orange;
  border-left: 1px dotted orange;
}

.cell-number {
  text-align: right;
}

.iva-list-new {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  flex-wrap: wrap;
  justify-content: center;
}

.iva-popup {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  visibility: visible;
  position: absolute;
  right: 20px;
  top: 155px;
}

.hidden-div {
  visibility: hidden;
}

.anexo-table {
    display: flex;
}

.anexo-title {
  padding: 10px;
  margin-top: 10px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  border-top: 1px dotted orange;
  border-bottom: 1px dotted orange;
  border-left: 1px dotted orange;

  border-right: 1px dotted orange;
}

.anexo-answer {
  padding: 10px;
  white-space: nowrap;
  border-top: 1px dotted orange;
  border-bottom: 1px dotted orange;
  border-left: 1px dotted orange;

  border-right: 1px dotted orange;
}

input {
  /* margin-top: 30px;
  height: 32px;
  padding-left: 36px;*/
  border: 0;
  background-color: transparent;
  color: inherit;
  cursor: inherit;
}

input.hide-spin-button {
    -moz-appearance:textfield;
}

/* Webkit browsers like Safari and Chrome */

input.hide-spin-button::-webkit-inner-spin-button,
input.hide-spin-button::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes toBig {
  from {
    font-size: 1em;
  }
  to {
    font-size: 6em;
  }
}

@media screen and (min-width: 700px) {
  .App-section-authenticated {
    flex-direction: row;
  }

  .App-aside {
    flex-direction: column;
    width: 300vmin;
    min-width: 170px;
    max-width: 250px;
    justify-content: flex-start;
  }

  .home-div {
    padding: 0 0 0 10px;
    min-width: 80%;
  }

  .subscription-type-div {
    flex-direction: row;
  }

  .subscription-period-div {
    flex-direction: row;
  }

  .terms-div {
    margin: 0 40px;
    padding: 10px 40px;
  }

  .payment-div {
    flex-direction: row;
  }

  .payment-card {
    width: 55vmin;
    height: 37vmin;
    margin: 5vmin;
  }

}
