.App {
  /* text-align: center; */
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 9vmin;
  margin: 20px;
  /* pointer-events: none; */
}

.App-header {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.App-section {
  display: flex;
  /* flex: 1; */
  justify-content: center;
  align-content: space-between;
}

.App-link {
  color: #61dafb;
}

.App-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid orange;
  margin: 30px 0;
  padding: 10px;
  cursor: pointer;
  color: inherit;
}

.App-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  margin-top: 40px;
  /* padding: 10px; */
  border-bottom: 1px white solid;
}
.input-style {
  padding: 5px 20px;
  outline: none;
}

.input-style:focus {
  border: 1px solid rgba(255,255,255,0.1);
}

input {
  /* margin-top: 30px;
  height: 32px;
  padding-left: 36px;*/
  border: 0;
  background-color: transparent;
  color: inherit;
  cursor: inherit;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
